Repository atharvatechnology/Apex-app, pull requests merged in 2022-06, with the labels that each got.

#8 login screen
  src/components/modules/signin/Login.js
  src/components/modules/signup/Register.js
  src/components/templates/Login.js
  src/navigation/AppNavigation.js
  src/navigation/signin.js
  src/screens/Signin/Login.js
  src/styles/elements/Header.scss
  src/styles/modules/signin/login.scss
Labels: :new:feature :partying_face:

#14 Error message in verify input feild.
  src/components/elements/CustomTextInput/index.js
  src/components/elements/Header/index.js
  src/components/modules/signin/Login.js
  src/components/modules/signup/Interest.js
  src/components/modules/signup/Verify.js
  src/navigation/signin.js
  src/styles/elements/CustomInput.scss
Labels: :heavy_plus_sign: enhancement:fire:

#15 Api-fetch page created
  src/utils/api.js
  src/utils/constants.js
Labels: :heavy_plus_sign: enhancement:fire:

#18 AutoFadeOut message created in login page
  src/components/modules/signin/Login.js
  src/styles/_common.scss
  src/styles/modules/signin/login.scss
  src/styles/modules/signup/Verify.scss
Labels: :heavy_plus_sign: enhancement:fire:, :new:feature :partying_face:

#21 sub category of dropdown
  src/assets/images/down-arrow.png
  src/components/elements/CustomDropdown/index.js
  src/components/modules/signup/Interest.js
  src/styles/_library.scss
  src/styles/elements/CustomDropdown.scss
  src/styles/modules/signup/Interests.scss
Labels: :heavy_plus_sign: enhancement:fire:
